body {
    background-color: hsl(52, 93%, 49%);
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.text {
    display: flex;
    flex-direction: column;

    align-items: center;
    font-size: 2em;
    padding: 20px;
}

section>img {
    width: 975px;
}