body{
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    height: 100px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
    
    
}

.logo{
    
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul, nav li{

    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

nav ul{
    display: flex;
}

nav a {
    text-decoration: none;
    padding: 15px;
    color: rgb(0, 0, 0);
}

nav .active a, nav a:hover{
background-color: rgb(9, 162, 209);
color: rgb(0, 0, 0);
transition-duration: 0.5s;
}

#banner{
    background-image:url('../images/entulhos/img1.jpeg');
    background-position: center;
    background-size: cover;
    height: 770px;
    display: flex;
    justify-content: center;
}

.column{
    flex-direction: column;
}

.banner_headline{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

.banner_options{
    height: 210px;
    display: flex;
    
}

.banner_headline h1{
    color: rgb(0, 79, 110);
    font-size: 70px;
    text-shadow: opx 1px 0px #555;
    margin: 0;
    padding:0;
    max-width: 350px;
}

.banner_headline h2{
    color: rgb(0, 75, 119);
    font-size: 37px;
    text-shadow: opx 1px 0px #555;
    margin: 0;
    padding:0;
    max-width: 350px;
}

.banner1, .banner2, .banner3{
    flex:1;
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size:medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.banner1{
    background-color: rgb(0, 120, 189);
}

.banner2{
    background-color: rgb(73, 73, 75);
}

.banner3{
    background-color: rgb(1, 1, 151);
}

.banner_title{
    font-size: 12px;
}

.banner_desc{
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a{
    border: 1px solid #FFF;
    padding: 5PX;
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
}

#geral{
    display: flex;
    justify-content: center;
}

.widget_tittle{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_tittle_text{
    color: rgb(0, 0, 0);
    font-size: 21px;
    font-weight: bold;
}

.widget_tittle_bar{
    width: 50px;
    height: 5px;
    background-color: aqua;
    margin-top: 10px;
}

#rodape{
  background-color: darkblue;
  display: flex;
  justify-content: center;
  height: 40px;
  line-height: 40px;
  color: #ffffff;
  font-size: 12px;
  margin-top: 30px;  
}
