body{

    background-color: #2c3e50;

    color: rgb(255, 255, 255);}

    h2{color: rgb(244, 198, 11);}

    h3{background-color: rgb(255, 217, 0);}
    h3{color: black;}

    h4{background-color: rgb(255, 217, 0);}
    h4{color: black;}

    h5{background-color: rgb(255, 217, 0);}
    h5{color: black;} 
    

 

div {

    border: rgb(159, 0, 93) 10px solid;

}
.texto{
    color: rgb(255, 0, 0);
}

section p{
    background-color: rgb(159, 0, 93) 10px splod;
}
#cabecalho {
    background-color: blueviolet;
    font-size: 100px;
    width: 500px;
}